@model ChangePasswordModel
@{
    ViewBag.Title = "Change Password";
}

<div class="container password>"
<hgroup class="title">
    <h1>Change your password</h1>
</hgroup>

<p>You're logged in as <strong>@User.Identity.Name</strong>.</p>
<p class="message-success">@ViewBag.StatusMessage</p>

@using (Html.BeginForm("ChangePassword", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    @Html.HiddenFor(m => m.UserName)
    <fieldset>
      <div class="form-group">
          @Html.LabelFor(m => m.OldPassword)
          <br>
          @Html.PasswordFor(m => m.OldPassword)
      </div>
      <div class="form-group">
          @Html.LabelFor(m => m.NewPassword)
          <br>
          @Html.PasswordFor(m => m.NewPassword)
      </div>
      <div class="form-group">
          @Html.LabelFor(m => m.ConfirmNewPassword)
          <br>
          @Html.PasswordFor(m => m.ConfirmNewPassword)
      </div>
      <input type="submit" class="btn btn-primary" value="Change password" />
    </fieldset>
}
</div>
