@model LoginModel
@{
    ViewBag.Title = "Log in";
    var emailAddress = System.Configuration.ConfigurationManager.AppSettings["EmailAccount"];
}
<div class="container">
    <div class="page-header">
        <h1>Log In</h1>
    </div>
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal" }))     
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        
        <div class="form-group">
            <label for="@Html.NameFor(c => c.UserName)" class="col-sm-2 control-label">@Html.DisplayNameFor(c => c.UserName)</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.UserName)
            </div>
        </div> 
        <div class="form-group">
            <label for="@Html.NameFor(c => c.Password)" class="col-sm-2 control-label">@Html.DisplayNameFor(c => c.Password)</label>
            <div class="col-sm-10">
                @Html.PasswordFor(m => m.Password)
            </div>
        </div> 
                              
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Sign In</button><br/><br/>
                <a class="need-help" data-toggle="modal" data-target=".forgot-pwd-modal-sm" href="#">Forgot Password?</a>
                <span class="clearfix">&nbsp;</span>
            </div>
        </div>        
    }

    <div class="modal fade forgot-pwd-modal-sm" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="mySmallModalLabel">Forgot Password?</h4>
                </div>
                <div class="modal-body">
                    <p>
                        If you have forgotten your password, please contact the Project C.U.R.E at
                        <a href="mailto:@emailAddress?Subject=Forgot%20Password" target="_top">@emailAddress</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>