@model ProjectCure.Web.Models.EventDetailsModel

<table>
    <tr>
        <th>Id</th>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <th>Title</th>
        <td>@Model.Title</td>
    </tr>
    <tr>
        <th>Begin Date/Time</th>
        <td>@Model.StartDateTime</td>
    </tr>
    <tr>
        <th>End Date/Time</th>
        <td>@Model.EndDateTime</td>
    </tr>
    <tr>
        <th>Manager</th>
        <td>@Model.Manager</td>
    </tr>
    <tr>
        <th>Description</th>
        <td>@Model.Description</td>
    </tr>
</table>