@{
    var baseTitle = "Project C.U.R.E";
    var pageTitle = !string.IsNullOrWhiteSpace(ViewBag.Title) ? string.Format("{0} - {1}", baseTitle, ViewBag.Title) : baseTitle;
}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
 <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>@pageTitle</title>    
    <link href="~/Content/img/icons/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/Content/img/icons/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/Content/img/icons/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/Content/img/icons/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/Content/img/icons/apple-touch-icon-57-precomposed.png">
    <meta name="viewport" content="width=device-width" />
    @Styles.Render(StyleBundles.Site)
    @Scripts.Render(ScriptBundles.Modernizr)
    @RenderSection("style", required: false)
</head>
<body>
    @Html.Partial("_Header")
    <div class="container">
        @RenderBody()
    </div>
    @Html.Partial("_Footer")
    @Scripts.Render(ScriptBundles.Jquery, ScriptBundles.Bootstrap, ScriptBundles.JqueryPlugins, ScriptBundles.Custom)
    @RenderSection("scripts", required: false)
</body>
</html>
